<mat-toolbar>
  <mat-icon>local_fire_department</mat-icon>
  <span>ngFire</span>
</mat-toolbar>

<div class="content-wrapper">
  <button color="primary" mat-button (click)="newTask()">
    <mat-icon>add</mat-icon> Add Task
  </button>
</div>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>
      <mat-card
        cdkDropList
        id="todo"
        class="list"
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        <p class="empty-label" *ngIf="todo.length === 0">Empty List</p>
        <app-task
          *ngFor="let task of todo"
          [task]="task"
          cdkDrag
          (edit)="editTask('todo', $event)"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>In Progress</h2>
      <mat-card
        cdkDropList
        id="inProgress"
        class="list"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgess"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        <p class="empty-label" *ngIf="inProgess.length === 0">Empty List</p>
        <app-task
          *ngFor="let task of inProgess"
          [task]="task"
          cdkDrag
          (edit)="editTask('inProgress', $event)"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>
      <mat-card
        cdkDropList
        id="done"
        class="list"
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
      >
      <p class="empty-label" *ngIf="done.length === 0">Empty List</p>
      <app-task
        *ngFor="let task of done"
        [task]="task"
        cdkDrag
        (edit)="editTask('done',$event)"
      ></app-task>
    </mat-card>
    </div>
  </div>
</div>
